<section class="feature-section">
    <div class="feature-container">
        <div class="feature-container-text">
            <div class="feature-text">
                <h2 class="section-title">Open April to October, 9 AM - 7 PM</h2>
            </div>
            <div class="feature-details">
                <p>Welcome to Adventureland! Open daily from April to October, 9 AM to 7 PM, our park offers a realm of excitement and wonder. Step into a season filled with thrilling rides, fun, and memories that will last a lifetime.</p>
                <ul class="feature-list">
                    <li> Experience the thrill of our heart-pounding roller coasters, delight in our family-friendly rides, and get immersed in interactive shows—perfect for guests of all ages.</li>
                    <li> Savor culinary delights in our uniquely themed restaurants that cater to every taste, enhancing your visit with meals as memorable as the adventures.</li>
                    <li> Create lasting memories with friends and family, enjoying joyous adventures and laughter-filled days that everyone will cherish.</li>
                </ul>
            </div>
        </div>
        
    </div>
</section>