<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-links">
            <div class="column-image">
                <img src="/images/Logo.png" alt="Company Logo">
            </div>
            <div class="column-1">
                <h4>Home</h4>
                <ul>
                    <li><a href="#" onclick="location.href='/'">How It Works</a></li>
                    <li><a href="#" onclick="location.href='/rides'">Thrilling Rides</a></li>
                </ul>
            </div>
            <div class="column-2">
                <h4>FAQ</h4>
                <ul>
                    <li><a href="#" onclick="location.href='/faq'">Frequently Asked Questions</a></li>
                    <li><a href="#" onclick="location.href='/contact'">Contact</a></li>
                </ul>
            </div>
            <div class="column-2">
                <h4>Rides</h4>
                <ul>
                    <li><a href="#" onclick="location.href='/rides'">Other Track Roller Coaster</a></li>
                    <li><a href="#" onclick="location.href='/rides'">Giant Sky Wheel</a></li>
                    <li><a href="#" onclick="location.href='/rides'">Wild Rapids Water Slide</a></li>
                </ul>
            </div>
            <div class="column-2">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#" onclick="location.href='/contact'">Terms and Conditions</a></li>
                    <li><a href="#" onclick="location.href='/contact'">Cookies</a></li>
                    <li><a href="#" onclick="location.href='/contact'">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>© 2024 FunLand Amusement Park. All rights reserved.</p>
    </div>
</footer>