<section class="rides-section">
  <div class="content-container">
    <h2>How It Works</h2>
    <div class="card-container">
      <div class="card">
        <img src="/images/Step-1-image.png" alt="Step One Icon">
        <div class="text-container">
            <h3 class="card-title">Step One</h3>
            <p class="card-description">Visit us from April-October from 9am to 7pm.</p>
        </div>
      </div>
      <div class="card">
        <img src="/images/Step-2-image.png" alt="Step Two Icon">
        <div class="text-container">
            <h3 class="card-title">Step Two</h3>
            <p class="card-description">Enjoy the rides and attractions.</p>
        </div>
      </div>
      <div class="card">
        <img src="/images/Step-3-image.png" alt="Step Three Icon">
        <div class="text-container">
            <h3 class="card-title">Step Three</h3>
            <p class="card-description">Enjoy the rides and attractions.</p>
        </div>
      </div>
    </div>
  </div>
</section>
