<section class="rides-section">
    <div class="content-container">
      <h2>Rides and Attractions</h2>
      <div class="card-container">
        <div class="card">
          <img src="/images/Thunder-Tracks-Roller-Coaster-image.png" alt="Thunder Tracks Roller Coaster">
          <div class="text-container">
            <h4>Thunder Tracks Roller Coaster</h4>
            <p>Feel the rush on our iconic roller coaster.</p>
            <button class="text-button" onclick="location.href='/rides'">Explore Rides</button>
          </div>
        </div>
        <div class="card">
          <img src="/images/Giant-Sky-weel-image.png" alt="Giant Sky weel">
          <div class="text-container">
            <h4>Giant Sky Wheel</h4>
            <p>Enjoy breathtaking views from the top of our iconic roller coaster.</p>
            <button class="text-button" onclick="location.href='/rides'">Explore Rides</button>
          </div>
        </div>
        <div class="card">
          <img src="/images/Wild-Rapids-Water-Slide-image.png" alt="Wild Rapids Water Slide">
          <div class="text-container">
            <h4>Wild Rapids Water Slide</h4>
            <p>Take a thrilling splash down the wildest water slide around.</p>
            <button class="text-button" onclick="location.href='/rides'">Explore Rides</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
