<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%- include('../partials/headerComponent.ejs') %> <!-- Include header -->

        <main>
            <%- body %> <!-- Dynamic content injected here -->
        </main>

        <%- include('../partials/footerComponent.ejs') %> <!-- Include footer -->
        <script src="/js/main.js"></script> <!-- Link to your main JS file -->
    </body>
</html>