        <% if (typeof successMessage !== 'undefined' && successMessage) { %>
            <div class="alert alert-success">
                <%= successMessage %>
            </div>
        <% } %>
        <!-- Contact Form Section -->
        <section class="contact-section">
            <div class="contact-form-container">
                <div class="text-form-container">
                    <h2>Get in Touch</h2>
                    <p>We're here to help! Do not hesitate to reach out.</p>
                </div>
                <form action="/contact" method="POST">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your Name" required>
        
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Your Email" required>
        
                    <label for="message">Message</label>
                    <textarea id="message" name="message" placeholder="Your Message" required></textarea>                   
        
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="contact-image-container">
                <img src="/images/Contact-page-hero-image.png" alt="Descriptive Alt Text">
            </div>
        </section>

        <!-- Contact Information and Map -->
        <section class="contact-info-map">
            <!-- Contact Information Cards -->
            <div class="contact-info-cards">
                <div class="info-card">
                    <img src="/images/Email.png" alt="Email Icon">
                    <h4>Email</h4>
                    <p>Reach us directly using the form listed above for swift assistance.</p>
                </div>
                <div class="info-card">
                    <img src="/images/Pin.png" alt="Location Icon">
                    <h4>London Office</h4>
                    <div class="location-details">
                        <p>Address for our London office is at 123 Sample St, London W1C 1DE, United Kingdom</p>
                    </div>
                </div>
            </div>

            <!-- Map Section -->
            <div class="locations-section">
                <div class="location-map">
                    <!-- Google Map Iframe -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18..." width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </section>
        <script>
            // Auto-hide success message after 5 seconds
            setTimeout(() => {
                const alert = document.querySelector('.alert-success');
                if (alert) {
                    alert.style.display = 'none';
                }
            }, 5000); // 5000ms = 5 seconds
            </script>
            

