
  <section class="hero-header">
    <div class="hero-content">
      <div class="text-content">
        <div class="hero">
          <div class="hero-text-container">
            <h1>Welcome to FunLand Amusement Park's FAQ Page!</h1>
            <p>Find answers to all your questions about our park, rides, and services, ensuring your visit is as thrilling and enjoyable as possible!</p>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img src="/images/lagoonabay.png" alt="FAQ Hero image">
        <div class="overlay"></div>
      </div>
    </div>
  </section>

    <section class="faq-section">
        <div class="faq-content-container">
          <h3>Frequently Asked Questions</h3>
          <div class="faq-accordion-container">
            <details>
              <summary>What are the park opening hours?</summary>
              <p>We are open daily from 10:00 AM to 9:00 PM, except for holidays.</p>
            </details>
            <details>
              <summary>Are there any height restrictions for the rides?</summary>
              <p>Yes, certain rides have height and age restrictions for safety reasons. Please check the ride guidelines for more information.</p>
            </details>
            <details>
              <summary>Can I buy tickets online?</summary>
              <p>Yes, you can buy tickets online through our website or at the park entrance.</p>
            </details>
          </div>
        </div>
      </section>

