
    <main>
        <%- include('partials/heroComponent') %> <!-- Includes the Hero section -->
        <%- include('partials/bannerComponent') %> <!-- Includes the Banner section -->
        <%- include('partials/how-it-worksComponent') %> <!-- Includes the How It Works section -->
        <%- include('partials/ridesComponent') %> <!-- Includes the Rides section -->

    </main>

