
<section class="hero-header">
    <div class="hero-content">
      <div class="text-content">
        <div class="hero">
          <div class="hero-text-container">
            <h1>Thunder Tracks Roller Coaster</h1>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img src="/images/Rides-Page-image1-rb.png" alt="Rides Hero image">
        <div class="overlay"></div>
      </div>
    </div>
  </section>
    <div class="ride-description">
        <div class="ride-content">
            <div class="ride-text-content">
                <div class="ride-text">
                    <p>Welcome to the heart-pounding world of Thunder Tracks at FunLand Amusement Park! This iconic roller coaster has been thrilling visitors with its high-speed turns and exhilarating drops since its debut. Designed for adventure seekers of all ages, Thunder Tracks is more than just a ride—it's an adventure that catapults you through thrilling dynamics and breathtaking vistas.</p>
                </div>
                <div class="ride-image">
                    <img src="/images/Rides-page-image-2.png" alt="Content Image">
                </div>
                <div class="ride-text">
                    <p>From the moment you strap in, the excitement begins. Thunder Tracks is renowned for its impressive engineering and thrilling design. As you climb to the first peak, the anticipation builds until you're suddenly rushing down at breathtaking speeds, twisting and turning through loops that defy gravity. Each curve and drop is a testament to the coasters meticulous design, optimized to bring screams of joy and thrill.</p>
                </div>
                <div class="ride-text">
                    <p>Whether you're a roller coaster veteran or a curious newcomer ready to dip your toes into the world of high-speed rides, Thunder Tracks offers something for everyone. Its secure harness system and state-of-the-art safety measures ensure a safe yet thrilling experience that has become a must-try attraction at FunLand.</p>
                </div>
                <div class="ride-image">
                    <img src="/images/Rides-page-image-3.png" alt="Content Image">
                </div>
                <div class="ride-text">
                    <p>Thunder Tracks operates from April to October, from 9 AM to 7 PM, offering plenty of time for guests to enjoy multiple rides along with the many other attractions available at FunLand Amusement Park. Each ride on Thunder Tracks promises a new thrill, a new shout of excitement, and memories that last a lifetime.</p>
                </div>
                <div class="ride-text">
                    <h3>Experience the Thrill Today</h3>
                </div>
                <div class="ride-text">
                    <p>Ready to experience the ultimate adrenaline rush? Visit FunLand Amusement Park and face the formidable Thunder Tracks. It is more than just a roller coaster; it is a gateway to a day filled with joy, adventure, and unforgettable memories. Strap in, hold tight, and let Thunder Tracks take you on the ride of your life!
                    Join us this season at FunLand Amusement Park and let Thunder Tracks whisk you away on a journey of exhilaration and fun. <h4>See you at the park!</h4></p>
                </div>
            </div>
        </div>
    </div>
    

   
    




